<%= form_with(model: order) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :cidNo %>
    <%= form.number_field :cidNo, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :email %>
    <%= form.text_field :email, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :mobileNo %>
    <%= form.text_field :mobileNo, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :currentAddress %>
    <%= form.text_field :currentAddress, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.submit class:"btn btn-secondary"%>
  </div>
<% end %>
